---
title: 'Contact | Real Estate Connect'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Contact                     -->
<!-- ============================================ -->

<section id="contact-1970">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Need Help?<br> Have a Suggestion? <br> Contact Us!</h1>
            <p class="cs-text">
                Our team is dedicated to delivering you the best service possible. If you need help navigating our site or have a suggestion on how we can make your improve your experience, please fill out this form or send us an email.
        </div>
        <div class="cs-right">
            <!--Form-->
            <form class="cs-form" id="cs-form-1970" name="Contact Form" method="post">
                <label class="cs-label">
                    First Name
                    <input class="cs-input" required type="text" id="first-name-1970" name="first name">
                </label>
                <label class="cs-label">
                    Last Name
                    <input class="cs-input" required type="text" id="last-name-1970" name="last name">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-1970" name="email">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="tel" id="phone-1970" name="phone">
                </label>
                <label class="cs-label">
                    Message
                    <input class="cs-input" required type="text" id="bedrooms-1970" name="bedrooms">
                </label>
                <label class="cs-label">
                    Property Address
                    <input class="cs-input" required type="text" id="address-1970" name="address">
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <!-- Background Image, added in CSS as a background image for parallax effect -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/downtown.jpeg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/downtown.jpeg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Landscapes/downtown.jpeg" alt="downtown" width="1920" height="640" aria-hidden="true">
    </picture>
</section>
{% endblock %}