---
title: 'Project One | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'listing-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/listings.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                      Listing                 -->
<!-- ============================================ -->

<section id="faq-1582">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">View Listing</span>
            <h2 class="cs-title">1111 Adam St. Wall, NJ 08730</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Address</h3>
                    <p class="cs-item-text">
                        1111 Adam St. Wall, NJ 08730
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">BAC</h3>
                    <p class="cs-item-text">
                        3%
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Realtor Name</h3>
                    <p class="cs-item-text">
                        Jane Doe
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Realtor Phone Number</h3>
                    <p class="cs-item-text">
                        111-333-5555
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Realtor Email</h3>
                    <p class="cs-item-text">
                        janedoe@email.com
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <!-- Text Grouped For Flexbox-->
                <div class="cs-text-group">
                    <h3 class="cs-h3">Realtor Agency</h3>
                    <p class="cs-item-text">
                        Real Estate Agency
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                

{% endblock %}