/* PAGE-SPECIFIC STYLES FOR THE PRICING PAGE */

/*-- -------------------------- -->
<---          Pricing           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #pricing-1260 {
        padding: 0; /* Remove padding to ensure it fills the entire screen */
        overflow: hidden;
        position: relative;
        z-index: 1;
        height: 100vh; /* Make the section fill the entire viewport height */
        display: flex;
        justify-content: center;
        align-items: center; /* Center content vertically */
        background-color: #fff; /* Optional: Set background color */

        .cs-waves-wrapper {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover; /* Cover the entire section with the image */
            }
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: calc(550 / 16 * 1em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px, changes to 20px at large desktop */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: calc(643 / 16 * 1rem);
            margin-right: auto;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-text {
            margin-bottom: calc(16 / 16 * 1rem);
            &:last-of-type {
                margin-bottom: calc(32 / 16 * 1rem);
            }
        }

        .cs-button-solid {
            font-size: calc(16 / 16 * 1rem);
            /* 46px - 56px */
            line-height: clamp(2.875em, 5.5vw, 3.5em);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: var(--primary);
            overflow: hidden;
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            flex: none;
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            margin: 0;
            padding: calc(24 / 16 * 1rem);
            background-color: #fff;
            border: 1px solid #dad9e3;
            border-radius: calc(24 / 16 * 1rem) 0 0 0;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            position: relative;
            z-index: 1;

            &.cs-popular {
                background-color: #14142b;
                border-radius: 0 0 calc(24 / 16 * 1rem) 0;
                border: none;

                .cs-popular-tag {
                    display: inline-flex;
                }

                .cs-package,
                .cs-price,
                .cs-duration,
                .cs-item-text,
                .cs-li {
                    color: var(--bodyTextColorWhite);
                }

                .cs-item-text,
                .cs-li {
                    opacity: 0.8;
                }

                .cs-icon {
                    filter: none;
                    opacity: 1;
                }

                .cs-button-transparent {
                    background-color: var(--primary);
                    color: var(--bodyTextColorWhite);
                    border: none;
                    transition: color 0.3s;

                    &:before {
                        background-color: #fff;
                    }

                    &:hover {
                        color: var(--primary);
                    }
                }
            }
        }

        .cs-popular-tag {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.2em;
            text-align: center;
            width: auto;
            margin: 0;
            padding: calc(4 / 16 * 1rem) calc(12 / 16 * 1rem);
            box-sizing: border-box;
            color: #ff9b7d;
            overflow: hidden;
            border-radius: calc(4 / 16 * 1rem);
            display: none;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: calc(24 / 16 * 1rem);
            right: calc(24 / 16 * 1rem);
            z-index: 1;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.16;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-picture {
            width: calc(76 / 16 * 1rem);
            height: calc(76 / 16 * 1rem);
            margin-bottom: calc(24 / 16 * 1rem);
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: 0.2;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
            }
        }

        .cs-package {
            font-size: calc(20 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 calc(8 / 16 * 1rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-price {
            font-size: calc(39 / 16 * 1rem);
            line-height: 1.2em;
            font-weight: 900;
            margin: 0 0 calc(12 / 16 * 1rem);
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-duration {
            font-size: calc(14 / 16 * 1rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            margin: 0 0 calc(32 / 16 * 1rem);
            color: var(--bodyTextColor);
        }

        .cs-ul {
            margin: 0 0 calc(32 / 16 * 1rem);
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);
        }

        .cs-li {
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            list-style: none;
            line-height: 1.5em;
            width: 100%;
            margin: 0;
            padding: 0;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: calc(8 / 16 * 1rem);

            &.cs-disabled {
                opacity: 0.5;

                .cs-icon {
                    filter: grayscale(1) brightness(300%);
                }
            }
        }

        .cs-icon {
            width: calc(24 / 16 * 1rem);
            height: auto;
            filter: grayscale(1);
            opacity: 0.5;
            display: block;
        }

        .button-solid {
            width: 100%;
        }

        .cs-button-transparent {
            font-size: calc(16 / 16 * 1rem);
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: var(--primary);
            min-width: calc(150 / 16 * 1rem);
            padding: 0 calc(24 / 16 * 1rem);
            background-color: transparent;
            border: 1px solid var(--primary);
            border-radius: calc(4 / 16 * 1rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            box-sizing: border-box;
            transition: color 0.3s, border-color 0.3s, background-color 0.3s;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: calc(4 / 16 * 1rem);
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                border-color: #000;
                background-color: #000;
                &:before {
                    width: 100%;
                }
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #pricing-1260 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            position: initial;
        }

        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: nowrap;
        }

        .cs-item {
            width: 50%;
            border-radius: calc(24 / 16 * 1rem) 0 0 calc(24 / 16 * 1rem);

            &.cs-popular {
                border-radius: 0 calc(24 / 16 * 1rem) calc(24 / 16 * 1rem) 0;
            }
        }

        .cs-waves-wrapper {
            width: 55vw;
            height: 100%;
            right: 0;
            top: 0;
            transform: none;
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #pricing-1260 {
        .cs-container {
            max-width: calc(1280 / 16 * 1rem);
            position: relative;
            z-index: 1;
        }

        .cs-waves-wrapper {
            height: 140%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #pricing-1260 {
        .cs-container {
            flex-direction: row;
            justify-content: space-between;
            gap: calc(20 / 16 * 1rem);
        }

        .cs-card-group {
            width: 62%;
            max-width: calc(740 / 16 * 1rem);
        }

        .cs-waves-wrapper {
            max-width: calc(740 / 16 * 1rem);
            width: 100%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #pricing-1260 {
            background-color: #001f3f; /* Set the background to blue in dark mode */
            
            .cs-title,
            .cs-text,
            .cs-package,
            .cs-li,
            .cs-item-text,
            .cs-price,
            .cs-duration {
                color: var(--bodyTextColorWhite);
            }

            .cs-text,
            .cs-item-text,
            .cs-li {
                opacity: 0.8;
            }

            .cs-item {
                background-color: var(--dark);
                border-color: rgba(255, 255, 255, 0.2);

                &.cs-popular {
                    background-color: var(--primary);

                    .cs-picture {
                        &:before {
                            background-color: #fff;
                        }

                        .cs-picture-icon {
                            filter: grayscale(1) brightness(1000%);
                        }
                    }

                    .cs-popular-tag {
                        color: var(--bodyTextColorWhite);
                        &:before {
                            background-color: #14142b;
                            opacity: 1;
                        }
                    }

                    .cs-package,
                    .cs-li,
                    .cs-item-text,
                    .cs-price,
                    .cs-duration {
                        color: var(--headerColor);
                    }

                    .cs-icon {
                        filter: grayscale(1) brightness(1000%);
                        opacity: 1;
                    }

                    .cs-button-transparent {
                        color: var(--primary);
                        background-color: #fff;
                        &:before {
                            background-color: #1a1a1a;
                        }
                    }
                }
            }

            .cs-icon {
                filter: none;
                opacity: 1;
            }

            .cs-button-solid {
                transition: color 0.3s;
                &:hover {
                    color: var(--primary);
                }

                &:before {
                    background-color: #fff;
                }
            }
        }
    }
}
